[project]
name = "portabase-cli"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "rich>=14.2.0",
    "typer>=0.20.0",
    "pyinstaller>=6.17.0",
    "requests>=2.32.5"
]
