  {{ name }}:
    image: postgres:17-alpine
    restart: unless-stopped
    networks:
      - portabase
    ports:
      - "{{ port_var }}:5432"
    volumes:
      - {{ volume }}:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB={{ db_var }}
      - POSTGRES_USER={{ user_var }}
      - POSTGRES_PASSWORD={{ password_var }}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U {{ user_var }} -d {{ db_var }}"]
      interval: 10s
      timeout: 5s
      retries: 5
