name: Publish Python binaries for release candidate

on:
  push:
    tags:
      - '*.*.*a*'
      - '*.*.*b*'
      - '*.*.*rc*'

permissions:
  contents: write
  packages: write

jobs:
  python_build:
    uses: ./.github/workflows/python.yml

  github_release:
    needs: python_build
    uses: ./.github/workflows/github.yml
    with:
      artifact_name: "portabase_*"
      prerelease: true
      make_latest: false
      discord_title: "||@release-cli|| New release candidate published"
      discord_color: 16776960
      discord_footer: "Portabase"
    secrets:
      DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
