name: Publish Python binaries for release

on:
  push:
    tags:
      - '*.*.*'
      - '!*-*'
      - '!*.*.*a*'
      - '!*.*.*b*'
      - '!*.*.*rc*'
      - '!*.*.*alpha*'
      - '!*.*.*beta*'

permissions:
  contents: write
  packages: write

jobs:
  python_build:
    uses: ./.github/workflows/python.yml

  github_release:
    needs: python_build
    uses: ./.github/workflows/github.yml
    with:
      artifact_name: "portabase_*"
      prerelease: false
      make_latest: true
      discord_title: "||@release-cli|| New release published"
      discord_color: 5814783
      discord_footer: "Portabase"
    secrets:
      DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
