name: Publish Python binaries for release candidate

on:
  push:
    tags:
      - '*.*.*a*'
      - '*.*.*b*'
      - '*.*.*rc*'
      - '*.*.*alpha*'
      - '*.*.*beta*'

permissions:
  contents: write
  packages: write

jobs:
  python_build:
    uses: ./.github/workflows/python.yml

  github_release:
    needs: python_build
    uses: ./.github/workflows/github.yml
    with:
      artifact_name: "portabase_*"
      prerelease: true
      make_latest: false
      discord_title: "||@release-cli|| New release candidate published"
      discord_color: 16776960
      discord_footer: "Portabase"
    secrets:
      DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  template_upload:
    needs: python_build
    uses: ./.github/workflows/templates-upload.yml
    with:
      version: ${{ github.ref_name }}
      is_prerelease: true
    secrets:
      S3_ENDPOINT: ${{ secrets.S3_ENDPOINT }}
      S3_ACCESS_KEY: ${{ secrets.S3_ACCESS_KEY }}
      S3_SECRET_KEY: ${{ secrets.S3_SECRET_KEY }}
      S3_BUCKET: ${{ secrets.S3_BUCKET }}
